{% load static %}
{% load staticfiles %}
{% load feeding_filters %}
<html>
    <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
    </head>
    <body>
        <p>This is awkward, you shouldn't have been able to get to here...congratulations?</p>

        <a href="/">Go Home</a>